/Minotaurus/target/
/plugins/DFSMazeGenerator/target/
/Minotaurus/nbproject/
/plugins/DFSMazeGeneratorPretty/target/
/plugins/TestPlugin/TestPlugin/target/
/plugins/InvalidTestPlugin/target/
/plugins/GatherPointsScenario/target/
/plugins/SimpletonRunner/target/
/plugins/AStarRunner/target/
/plugins/com.github.tilastokeskus.AStarRunnerSimple/target/
/plugins/ArenaMazeGenerator/target/
/plugins/SnakeScenario/target/